@tailwind base;
@tailwind components;
@tailwind utilities;

.CodeMirror-wrap pre {
  word-break: break-word;
}

.cm-editor.cm-focused {
  outline: none;
}

.cm-editor {
  font-size: 14px;
}

.cm-editor .cm-scroller {
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono",
    "Courier New", monospace;
}
